/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("image/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-utama {
  margin-top: 5em;
  text-align: center;
  width: 350px;
  padding: 30px;
  background-color: rgba(239, 237, 237, 0.2);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(5, 5, 5, 0.2);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.container-utama:hover {
  transform: translateY(-10px);
}

.profile {
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-top: 15px;
  font-size: 24px;
  color: #000000;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #000000;
  font-size: 15px;
  margin-top: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link-btn {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  padding: 12px;
  border-radius: 30px;
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.link-btn:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: scale(1.05);
}

.link-btn:active {
  transform: scale(0.98);
}

/* Container Mercandise */
.container-mercandise {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 10em;
  gap: 20px; /* Spasi antar gambar */
  justify-content: center;
}

.container-mercandise img {
  margin: 20px;
  width: 25em;
  height: 25em;
}

/* Container ekraf */
.container-ekraf {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 10em;
  gap: 20px; /* Spasi antar gambar */
  justify-content: center;
}

.container-ekraf img {
  margin: 20px;
  width: 25em;
  height: 25em;
}

/* Container Produk Ekraf */
.container-produkekraf {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 10em;
  gap: 20px; /* Spasi antar gambar */
  justify-content: center;
}

.container-produkekraf img {
  margin: 20px;
  width: 25em;
  height: 25em;
}

/* Tombol Kembali ke Menu Utama */
.back-to-main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  text-decoration: none;
  color: #fff;
  background-color: #6e8efb;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.back-btn:hover {
  background-color: #a777e3;
  transform: scale(1.05);
}

.back-btn:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  h1 {
    font-size: 20px;
  }

  .link-btn {
    font-size: 14px;
    padding: 10px;
  }

  .container-mercandise {
    background-color: rgba(239, 237, 237, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px; /* Jarak antar gambar */
    padding: 20px;
    width: 50%;
    height: auto;
  }

  .container-mercandise img {
    width: auto;
    max-width: 100%; /* Agar gambar sesuai dengan lebar kontainer */
    height: auto;
  }

  /* container ekraf*/
  .container-ekraf {
    background-color: rgba(239, 237, 237, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    height: auto;
  }

  .container-ekraf img {
    width: auto;
    max-width: 100%; /* Agar gambar sesuai dengan lebar kontainer */
    height: auto;
  }

  .container-produkekraf {
    background-color: rgba(239, 237, 237, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
    height: auto;
  }

  .container-produkekraf img {
    width: auto;
    max-width: 100%; /* Agar gambar sesuai dengan lebar kontainer */
    height: auto;
  }

  .back-btn {
    text-decoration: none;
    color: #fff;
    background-color: #6e8efb;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  }
}
